.footer {
    background-color: var(--colors-dark-blue);
    padding: 120px 0 150px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__box-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--colors-dark-grey);
}

.footer__navigation {
    display: flex;
    gap: 65px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__info-link > a {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    transition: all .4s;
    border-bottom: 1px solid transparent;
}

.footer__info-link > a:hover {
    border-bottom: 1px solid var(--colors-white);
}

.footer__social {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer__social a {
    transition: all .4s;
}

.footer__social a:hover {
    transform: scale(1.5);
}

@media (max-width: 768px) {
    .footer {
        padding: 70px 0;
    }
    .footer__container {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 640px) {
    .footer__navigation {
        flex-wrap: wrap;
    }
}

