body {
  font-family: "Libre Franklin", sans-serif;
  color: var(--colors-white);
  background-color: var(--colors-white);
  font-size: 14px;
  line-height: 125%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  color: var(--colors-white);
}

@media (max-width: 1170px) {
  .container {
      max-width: 80%;
  }
}