@import "reset.css";
@import "global.css";
@import "header.css";
@import "content/index.css";

/*article*/
.prem_deal_article {
    display: flex;
    justify-content: center;
    height: 264px;
}

.about_premium {
    width:1170px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.prem_deal {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 100px;
}

.prem_button {

}

/*get started*/

.start {
    margin-top: 50px;
    height:411px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}

.start_container {

    display: flex;
    width:1170px;
    height:111px;
}

.start_text {
    width:585px;
    height:111;
    text-align: left;
}

.start_textnull {
    width:110px;
}

.party {
    font-size:16px;
    font-weight: bold;
    color:#5ab963;
}

.rectangle2nd {
    margin-top:9px;
    float: right;
    width:30px;
    height:2px;
    background-color: #5ab963;
}

.quassscipit{
    text-align: left;
    font-weight: 50;
    font-size: 24px;
    color: #999999;
    margin:0;
}


.black2nds {
    font-weight: 550;
    color:#000000;
}

.start_button {
    float: right;
}

.button2nd {
    margin:25px 0 0 425px;
    width: 160px;
    height: 60px;
    background-color: #5AB963;
    color: #ffffff;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}

.footer {
    height:400px;
    background-color: #0A0E1A;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer_container {
    display: flex;
    width:1170px;
    height: 130px;
}

.footer_logo {
    text-align: left;
    justify-content: left;
    width:585px;
    height:64px;
}

.footer_text {
    font-size: 12px;
    font-weight: regular;
    color: #666666;
}

td {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}

.footer_social {
    margin: 15px 0 0 15px;
}

.social_f {
    margin-right: 20px;
}

.social_x {
    margin-right: 20px;
}