/* features */
.features {
  padding: 120px 0 205px;
}

.features__title {
  color: #000000;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  max-width: 507px;
}

.features__title--modificator{
  color: #999999;
  font-weight: 100;
}

.features__content{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-top: 105px;
}

.content__box {
  padding: 35px;
  border: 2px solid #dbdbdb;
}

.content__box-title {
  font-weight: bold;
  color: #000000;
  margin: 25px 0 13px;
  font-size: 16px;
  line-height: 24px;
}


.content__box-text {
  max-width: 272px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #999999;
}