/* premium */
.premium {}

.premium__container{
  padding: 115px 0 120px;
  border-bottom: 1px solid var(--colors-milk-white);
}

.premium__box {
  max-width: 761px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.premium__box-text {
  text-align: center;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  color: var(--colors-grey);
}

.premium__box-text > span {
  color: var(--colors-black);
  font-weight: 700;
}

.premium__button {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: var(--colors-green);
  transition: all .4s;
  border-bottom: 1px solid transparent;
}

.premium__button:hover {
  border-bottom: 1px solid var(--colors-green);
}

/* 375 640 768 994 1170 1440 */

@media (max-width: 1440px) {
    .premium__img {
        max-width: 100%;
    }
}