/*get started*/

.start {
    padding: 150px 0;
}

.start__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start__inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.start__box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.start__box-title {
    font-size:16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--colors-green);
}

.start__box-rectangle {
    width:30px;
    height:2px;
    background-color: var(--colors-green);
}

.start__box-text {
    max-width: 483px;
    font-size: 24px;
    font-weight: 100;
    line-height: 36px;
    color: var(--colors-grey);
}

.start__box-text > span {
    font-weight: 400;
    color: var(--colors-black);
}

.start__button-btn {
    background-color: var(--colors-green);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 30px;
    transition: all .4s;
}

.start__button-btn:hover {
    transform: scale(1.1);
}

/* 375 640 768 994 1170 1440 */

@media (max-width: 994px) {
    .start__container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}

@media (max-width: 640px) {
    .start__box-text {
        text-align: center;
    }
}